<nav>
    <div class="wrapper">
      <div class="logo" style="margin-top: 28px"> <img src="/assets//favicon.ico" alt=""></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="/sgr/">All APIS </a></li>
        <li><a href="/heart">Heart</a></li>
        <li>
          <a href="#" class="desktop-item">Converters</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Converters</label>
          <ul class="drop-menu">
                  <li><a href="/salary/calculateHikePercentage">Salary</a></li>
                  <li><a href="/csv_json">csv_json</a></li>
                  <li><a href="/excel_Data">excel Data</a></li>
                  <li><a href="/json_excel">json excel</a></li>
          </ul>
        </li>
        <!-- <li>
          <a href="#" class="desktop-item">Mega Menu</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Mega Menu</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="https://fadzrinmadu.github.io/hosted-assets/responsive-mega-menu-and-dropdown-menu-using-only-html-and-css/img.jpg" alt="">
              </div>
              <div class="row">
                <header>Converters</header>
                <ul class="mega-links">
                  <li><a href="/salary/calculateHikePercentage">Salary</a></li>
                  <li><a href="/csv_json">csv_json</a></li>
                  <li><a href="/excel_Data">excel Data</a></li>
                  <li><a href="/json_excel">json excel</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Email Services</header>
                <ul class="mega-links">
                  <li><a href="#">Personal Email</a></li>
                  <li><a href="#">Business Email</a></li>
                  <li><a href="#">Mobile Email</a></li>
                  <li><a href="#">Web Marketing</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Security services</header>
                <ul class="mega-links">
                  <li><a href="#">Site Seal</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                  <li><a href="#">Privacy Seal</a></li>
                  <li><a href="#">Website design</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li> -->
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>